<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/slots/save" method="post">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br>
    <!-- <label for="token">Tokens: </label>
    <input id="token" type="number" required> -->
     
    <label for="startTime">Start Time:</label>
    <input type="time" id="startTime" name="startTime" required><br>
  
    <label for="endTime">End Time:</label>
    <input type="time" id="endTime" name="endTime" required><br>
  

    <!-- <label for="minuteIncrements">Length of one appointment</label><br>
    <select id="minuteIncrements" name="minuteIncrements">
      <option value="15">15 minutes</option>
      <option value="20">20 minutes</option>
      <option value="25">25 minutes</option>
      <option value="30">30 minutes</option>
      <option value="35">35 minutes</option>
      <option value="40">40 minutes</option>
      <option value="45">45 minutes</option>
   
    </select>
    <br> -->
  
    <input type="submit" value="Add Slots">
  </form>
  
</body>
</html>
// <!-- This HTML form would be on your front-end -->
