<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Ticketing</title>
    <link rel="stylesheet" href="/stylesheets/style12.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <div class="main-container">
      <div class="header-grid navigation">
        <img src="/images/logo12.png" alt="Logo" class="logo" />
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="allocates/choose-doctor">Appointment</a></li>
          <li><a href="#">Report</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
      </div>

      <div class="steps-container">
        <div class="steps">
          <h2>Follow these easy steps</h2>

          <div class="diffsteps">
            <p>Select a Department</p>
            <img src="/images/select12.gif" class="decImage" />
          </div>

          <div class="diffsteps">
            <p>Select a Doctor</p>
            <img src="/images/doctor12.png" class="decImage" />
          </div>

          <div class="diffsteps">
            <p>Select a Time Slot</p>
            <img src="/images/time12.png" class="decImage" />
          </div>

          <div class="diffsteps">
            <p>Provide your Personal Information</p>
            <img src="/images/personalinfo12.png" class="decImage" />
          </div>

          <div class="diffsteps">
            <p>Get Appointment confirmation</p>
            <img src="/images/confirm12.png" class="decImage" />
          </div>
        </div>

        <!-- add from here -->

        <div class="col-12 ml-4">
          <h1>Appointment Confirmation</h1>
          <div class="alert alert-success mt-4 " role="alert">
            Your appointment has been successfully administered in the system.
            Please arrive timely in the appointment day.
          </div>
          <button class="btn btn-primary" type="submit"><a href="/home" style="color: aliceblue;">Redirect to home page</a></button>
        </div>
      </div>
    </div>
  </body>
</html>
