<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/slots/saveEdited/<%=slot._id%>" method="post">
    console.log("1")
    <label for="date">Date:</label>
    <input type="date" class="form-control" id="date" name="date" required>
    console.log("2")
    <label for="startTime">Start Time:</label>
    <input type="time" id="startTime" name="startTime" placeholder="Enter startTime" value="<%=slot.startTime%>">
    console.log("3")
    <label for="endTime">End Time:</label>
    <input type="time" id="endTime" name="endTime" placeholder="Enter startTime" value="<%=slot.startTime%>"required>
    console.log("4")
    <!-- <div class="form-group">
      <label for="status">status:</label>
      <input type="string" class="form-control" id="status" name="status" placeholder="Enter status" value="<%=%>">
      </div> -->
    <button type="submit" class="btn btn-primary" name="action">Submit</button>
  </form>
  
</body>
</html>