<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Ticketing</title>
    <link rel="stylesheet" href="/stylesheets/style12.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="main-container" style="background-image: url('/images/homeBackground12.png');">
      <div class="header-grid navigation">
        <img src="/images/logo12.png" alt="Logo" class="logo" />
        <ul class="nav-option">
          <li><a href="/home"><strong>Home</strong></a></li>
          <li><a href="/allocates/choose-speciality">Appointment</a></li>
          <li><a href="/allocates/appointdetails">Appoint Details</a></li>
          <li><a href="#">Report</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-6">
          <h1 class="logo-here"><img src="/images/bbb.gif" width="600" height="400" style="margin-left: 20%;"></h1>
      </div>

        <section class="col-6">
          <h1 class="logo-here" style="color: rgb(133, 83, 180);">Skip the Lines, <br />Secure Your Tickets Online!</h1>
          <p style="font-family: 'Montserrat',sans-serif,'Roboto';">
            Namaste!! at our hospital, we understand the value of your time and
            the importance of convenience when it comes to your health. That's
            why we've introduced our online appointment booking system. Say
            goodbye to the hassle of waiting in long lines and hello to a new
            era of digitalized healthcare. Our user-friendly platform empowers
            you to skip the tedious queues and effortlessly book your
            appointments online, putting your health in your hands. We believe
            in making healthcare easily accessible, providing you with the
            flexibility to schedule your appointments at your convenience. Join
            us in embracing this innovative approach to healthcare, where your
            time and well-being are our top priorities.
          </p>
<button class="btn btn-primary mt-2" type="submit">
<a href="/allocates/choose-speciality" style="color: aliceblue; text-decoration: none;">
  Make an Appointment <span style="margin-left: 15px; width: 20px;">&rarr;</span>
</a>
</button>
        </section>
      </div>
    </div> <!-- Close main-container -->
  </body>
</html>


